body {
  background-color: #000000;
  font-family: "FuturaDemi";
  font-size: 1rem;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@font-face {
  font-family: "FuturaBook";
  src: url("/fonts/FuturaPTBook.otf");
}

@font-face {
  font-family: "FuturaMedium";
  src: url("/fonts/FuturaPTMedium.otf");
}

@font-face {
  font-family: "FuturaDemi";
  src: url("/fonts/FuturaPTDemi.otf");
}

@font-face {
  font-family: "FuturaBold";
  src: url("/fonts/FuturaPTBold.otf");
}

@font-face {
  font-family: "FuturaHeavy";
  src: url("/fonts/FuturaPTHeavy.otf");
}

.screen {
    position: absolute;
    overflow: hidden;
}

.hidden {
  display: none;
}

.wrong{
  color:white !important;
  background-color: red !important;
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}

.wrongDates{
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}

@-webkit-keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}

#header{
  width: 100%;
  height: 10%;
  background-color: #ffffff;
  display: flex;
}

#headerIcon{
  height: 100%;
  width: 50%;
  left: 0%;
}

#headerLabels{
  width: 30%;
  left: 70%;
  height: 100%;
  position: absolute;
  display: inline-flex;
}

#headerOptionsCS{
  left: 50%;
  padding-top: 7%;
}

#headerOptionsC{
  left: 75%;
}

.headerOptions{
  top: 0%;
  height: 65%;
  width: 25%;
  padding-top: 9%;
  text-align: center;
  font-size: 1rem;
  position: absolute;
  color: #A9A9A9;
}

#headerOptionsC:hover,
#headerOptionsCS:hover{
  background-color: #CAEBF2;
  color: #A9A9A9;
}

.activeHeader{
  background-color: #CAEBF2;
  color: #A9A9A9;
}

#content{
  width: 85%;
  height: 90%;
  background-color: #EFEFEF;
  bottom: 0;
  right: 0;
  position: absolute;
}

.choosing,
.contact{
  width: 100%;
  height: 100%;
}

#teacherList{
  width: 15%;
  height: 100%;
  position: absolute;
  left: 0%;
}

#classList{
  width: 15%;
  height: 100%;
  left: 17%;
  position: absolute;
}

#settingsList{
  width: 66%;
  height: 100%;
  left: 34%;
  position: absolute;
}

#teacherHeader,
#classHeader{
  background-color: #FF3B3F;
  top: 2%;
  width: 90%;
  left: 5%;
  height: 4%;
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  text-align: center;
  padding-top: 2%;
}

#teachers,
#classes{
  top: 6%;
  width: 90%;
  left: 5%;
  height: 80%;
  position: absolute;
  background-color: #ffffff;
  overflow-y: auto;
}

#teachersBackground,
#classesBackground{
  background-color: #ffffff;
  top: 85%;
  width: 90%;
  left: 5%;
  height: 5%;
  position: absolute;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  padding-top: 2%;
}

#settings{
  top: 6%;
  width: 90%;
  left: 5%;
  height: 85%;
  position: absolute;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ffffff;
  overflow-y: auto;
}

#settingsHeader{
  background-color: #FF3B3F;
  top: 2%;
  width: 90%;
  left: 5%;
  height: 4%;
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  text-align: center;
  padding-top: 0.5%;
}

#settings{
  top: 6%;
  width: 90%;
  left: 5%;
  height: 85%;
  position: absolute;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ffffff;
  overflow-y: auto;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0.5rem rgba(0,0,0,0.3);
	border-radius: 0.5rem;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 0.75rem;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 0.8rem;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #FF3B3F;
}

#courseInfo{
  display: flex;
  left: 5%;
  width: 50%;
  height: 15%;
  position: absolute;
  top: 5%;
}

#dueDateSettings{
  right: 5%;
  width: 35%;
  height: 75%;
  position: absolute;
  top: 5%;
}

#buttonsSettings{
  display: flex;
  left: 5%;
  width: 90%;
  height: 10%;
  position: absolute;
  bottom: 10%;
}

.button {
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 5%;
  padding-top: 2.5%;
  text-align: center;
  width: 50%;
  height: 50%;
  background-color: #FF3B3F;
  border-radius: 10%;
  color: white;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem grey;
  cursor: pointer;
}

.button:active {
  box-shadow: 0 0.3125rem grey;
  transform: translateY(0.250rem);
}

.teachersButton,
.classesButton{
  margin-left: 20%;
  padding: 5%;
  padding-top: 2.5%;
  text-align: center;
  width: 50%;
  height: 50%;
  background-color: #FF3B3F;
  border-radius: 5px;
  color: white;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem grey;
  cursor: pointer;
}

.classesButton:active {
  box-shadow: 0 0.3125rem grey;
  transform: translateY(0.250rem);
}

.teachersButton:active {
  box-shadow: 0 0.3125rem grey;
  transform: translateY(0.250rem);
}

.classButton{
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.tempClassButton{
  text-align: center;
  background: repeating-linear-gradient(
    45deg,
    #ff751a,
    #ff751a 10px,
    #ffffff 10px,
    #ffffff 20px
  );
}

.courseInfo{
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
  text-align: center;
}

textarea {
  resize: none;
  overflow: hidden;
  width: 80%;
  height: 10%;
  text-align: center;
  margin: 0;
}

.courseInfoDetail{
  margin-top: 10%;
  padding: 2%;
  text-align: center;
}

#courseSettings,
#courseNumberSettings,
#courseSectionSettings{
  width: 35%;
}

#courseSettingsHeader,
#courseNumberSettingsHeader,
#courseSectionsSettingsHeader{
  text-align: center;
  border-bottom: thin solid #FF3B3F;
  height: 50%;
}

#course,
#courseNumber,
#courseSection{
  width: 100%;
}

#courseSection{
  display: inline-flex;
}

#secLabel{
  margin-top: 0;
  margin-right: 10%;
}

#dueDateSettingsHeader{
  background-color: #FF3B3F;
  top: 1%;
  width: 90%;
  left: 5%;
  height: 4%;
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  text-align: center;
  padding-top: 2%;
}

#dueDate{
  top: 6%;
  width: 90%;
  left: 5%;
  height: 78%;
  position: absolute;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #CAEBF2;
  z-index: 1000;
  overflow-y: auto;
}

#dueDateBackground{
  bottom: 9%;
  width: 90%;
  left: 5%;
  height: 10%;
  position: absolute;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #CAEBF2;
  z-index: 100;
  overflow-y: auto;
  display: inline-flex;
}

#calendar{
  background-color: #CAEBF2;
  position: absolute;
  top: 22.5%;
  width: 50%;
  height: 37.5%;
  left: 5%;
  border-color: #FF3B3F;
  border-style: solid;
  border-width: 1px;
}

#linkShare{
  width: 30%;
  height: 2%;
  position: absolute;
  bottom: 22.5%;
  left: 10%;
  background: #FF3B3F;
  border-radius: 5px;
  padding: 3%;
  padding-top: 1.5%;
  color: white;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem grey;
  display: flex;
}

#linkShareIcon{
  margin-left:22.5%;
  margin-top: -4%;
  font-size: 2.25rem;
  width: 20%;
  margin-right: 0%;
}

#linkShareTitle{
  width: 60%;
}

#linkShare:active {
  box-shadow: 0 0.3125rem grey;
  transform: translateY(0.250rem);
}

#linkUrl{
  padding: 3%;
  padding-top: 1.5%;
  width: 40%;
  height: 2%;
  position: absolute;
  bottom: 30%;
  left: 7%;
  background: #CAEBF2;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.setDateButton {
  margin-top: 10%;
  padding: 3%;
  padding-top: 1.5%;
  text-align: center;
  width: 25%;
  height: 5%;
  left: 35%;
  background-color: #FF3B3F;
  border-radius: 10%;
  color: white;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem grey;
  cursor: pointer;
  position: absolute;
  bottom: 3%;
  visibility: hidden;
}

.dueDateButton {
  text-align: center;
  width: 50%;
  height: 40%;
  left: 25%;
  background-color: #FF3B3F;
  border-radius: 10%;
  color: white;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem grey;
  cursor: pointer;
  position: absolute;
  bottom: 20%;
}

.dueDateButton:active {
  box-shadow: 0 0.3125rem grey;
  transform: translateY(0.250rem);
}

.setDateButton:active {
  box-shadow: 0 0.3125rem grey;
  transform: translateY(0.250rem);
}

.datesHolder{
  width: 100%;
  display: inline-flex;
}

.datesDelete{
  height: 10%;
  margin-top: 2.5%;
  margin-left: 5%;
  color: #FF3B3F;
  font-size: 1.5rem;
  cursor: pointer;
}

/*.datesDelete:active {
  transform: translateY(0.250rem);
}*/

.activeDueDate{
    background-color: #A9A9A9;
    color: white;
}

.inactiveDueDate{
  background-color: white;
}

.datesHeader{
  display: inline-flex;
  width: 70%;
  height: 5%;
  margin: 0;
  padding: 0;
  margin-top: 5%;
  margin-bottom: 2%;
}

hr{
  margin: 0;
  padding: 0;
}

.dates{
  display: inline-flex;
  width: 70%;
  height: 10%;
  margin: 5%;
  border-radius: 2px;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem grey;
  cursor: pointer;
}

.datesLabel{
  margin-left: 5%;
  margin-right: 10%;
  width: 35%;
  text-align: center;
}

.dates:active{
  box-shadow: 0 0.3125rem grey;
  transform: translateY(0.250rem);
}

.datesSurvey{
  margin-left: 10%;
  margin-right: 5%;
  width: 35%;
  text-align: center;
}

/* DatePicker Container */
.ui-datepicker {
  width: 70%;
    padding: 4%;
    padding-left: 15%;
    padding-right: 15%;
}
.ui-datepicker a {
	text-decoration: none;
}
/* DatePicker Table */
.ui-datepicker table {
	width: 100%;
}
.ui-datepicker-header {
  background-color: #FF3B3F;
	color: white;
	font-weight: bold;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
	-moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
	box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
	text-shadow: 1px -1px 0px #000;
	filter: dropshadow(color=#000, offx=1, offy=-1);
	line-height: 1.875rem;
}
.ui-datepicker-title {
	text-align: center;
}
.ui-datepicker-prev, .ui-datepicker-next {
	display: inline-block;
	width: 1.875rem;
	height: 1.875rem;
	text-align: center;
	cursor: pointer;
	line-height: 600%;
	overflow: hidden;
}

.ui-datepicker-prev{
  background-image: url('../media/triangle_left.svg');
	background-repeat: no-repeat;
  }

.ui-datepicker-next {
  background-image: url('../media/triangle_right.svg');
	background-repeat: no-repeat;
}

.ui-datepicker-prev {
	float: left;
	background-position: center 0rem;
}
.ui-datepicker-next {
	float: right;
	background-position: center 0px;
}
.ui-datepicker thead {
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));
	background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
	border-bottom: 1px solid #bbb;
}
.ui-datepicker th {
	text-transform: uppercase;
	padding: 5px 0;
  font-size: 0.5rem;
	color: #666666;
	text-shadow: 1px 0px 0px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=0);
}
.ui-datepicker tbody td {
	padding: 0;
	border: 1px solid #bbb;
}
.ui-datepicker tbody tr {
	border-bottom: 1px solid #bbb;
}
.ui-datepicker tbody tr:last-child {
	border-bottom: 0px;
}
.ui-datepicker td span, .ui-datepicker td a {
	display: inline-block;
	font-weight: bold;
	text-align: center;
	width: 100%;
	height: 10%;
	line-height: 1.875rem;
	color: #666666;
	text-shadow: 1px 1px 0px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=1);
}
.ui-datepicker-calendar .ui-state-default {
	background: #ededed;
	background: -moz-linear-gradient(top,  #ededed 0%, #dedede 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dedede));
	background: -webkit-linear-gradient(top,  #ededed 0%,#dedede 100%);
	background: -o-linear-gradient(top,  #ededed 0%,#dedede 100%);
	background: -ms-linear-gradient(top,  #ededed 0%,#dedede 100%);
	background: linear-gradient(top,  #ededed 0%,#dedede 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
	-moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
	box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}
.ui-datepicker-calendar .ui-state-hover {
	background: #f7f7f7;
}
.ui-datepicker-calendar .ui-state-active {
	background: #A9A9A9;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
	color: #e0e0e0;
	text-shadow: 0px 1px 0px #A9A9A9;
	filter: dropshadow(color=#A9A9A9, offx=0, offy=1);
	border: 1px solid #A9A9A9;
	position: relative;
	margin: -1px;
}
.ui-datepicker-unselectable .ui-state-default {
	background: #f4f4f4;
	color: #b4b3b3;
}
.ui-datepicker-calendar td:first-child .ui-state-active {
	width: 100%;
	margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
	width: 100%;
	margin-right: 0;
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
	height: 100%;
	margin-bottom: 0;
}
