AuthType shibboleth
ShibRequestSetting requireSession 1
require valid-user


DirectoryIndex index.html

#Options +ExecCGI
#AddHandler cgi-script cgi pl
php_value upload_max_filesize 20M
php_value post_max_size 20M
php_value max_execution_time 500
php_value max_input_time 500
