/* MC */

#answermc {
  width: 100%;
  height: 100%;
}


/*Int Fill In */

input[type=number] {
  width: 50%;
  padding: 0.75rem 1.25rem;
  resize: none;
  color: #A9A9A9;
  font-size: 1.2rem;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem grey;
  outline: none;
  margin-bottom: 5%;
  cursor: pointer;
  border-radius: 5%;
  border-width:0.125rem;
}

input[type=number]:focus {
  background-color: #CAEBF2;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/*Fill In*/

textarea {
  resize: none;
  width: 85%;
  padding: 0.75rem 1.25rem;
  color: black;
  font-size: 1.2rem;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem grey;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  border-width: 0.125rem;
  border-color: #A9A9A9;
  z-index: 2;
  overflow-x:hidden;
}

#characterCount {
  position: absolute;
  font-size: 1.2rem;
  left: 45.5%;
  top: 46%;
  width: 40%;
  height: 5%;
  border-radius: 0.3125rem;
  background-color: #CAEBF2;
  z-index: -1;
  border: 0.1rem solid #A9A9A9;
  box-shadow: 0.225rem 0.225rem rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0.225rem 0.225rem rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0.225rem 0.225rem rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0.225rem 0.225rem rgba(0, 0, 0, 0.4);
}

textarea:focus {
  background-color: #CAEBF2;
  border-color: white;
}

#textProgressBar {
  width: 50%;
  left: 25%;
  height: 10%;
  position: absolute;
  margin-top: 1%;
  margin-bottom: 3%;
}

#progressBar {
  width: 100%;
  height: auto;
}

.cursor {
  width: 8%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.completedBar {
  position: absolute;
  top: 12%;
  left: 100%;
  width: 12%;
}


/* Slider */

#sliderOutput {
  margin-top: 8%;
}

#valueShower {
  position: absolute;
  left: 43.5%;
  text-align: center;
  color: #FF3B3F;
  width: 14%;
  font-size: 2rem;
}

#leftExtremes {
  position: absolute;
  left: 5%;
  font-size: 2rem;
}

#rightExtremes {
  position: absolute;
  right: 5%;
  font-size: 2rem;
}

input[type=range] {
  height: 3.0625rem;
  -webkit-appearance: none;
  margin: 0.625rem 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.4rem;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem #50555C;
  background: #A9A9A9;
  border-radius: 0.875rem;
  border: 0.0625rem solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.125rem 0.125rem 0.3125rem #000000;
  border: 0.0625rem solid #000000;
  height: 2.5rem;
  width: 3.125rem;
  border-radius: 0.875rem;
  background: #FF3B3F;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.6rem;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #A9A9A9;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1.4rem;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem #50555C;
  background: #A9A9A9;
  border-radius: 0.875rem;
  border: 0.0625rem solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0.125rem 0.125rem 0.3125rem #000000;
  border: 0.0625rem solid #000000;
  height: 2.5rem;
  width: 3.125rem;
  border-radius: 0.875rem;
  background: #FF3B3F;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 1.4rem;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #A9A9A9;
  border: 0.0625rem solid #000000;
  border-radius: 1.75rem;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem #50555C;
}

input[type=range]::-ms-fill-upper {
  background: #A9A9A9;
  border: 0.0625rem solid #000000;
  border-radius: 1.75rem;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem #50555C;
}

input[type=range]::-ms-thumb {
  margin-top: 0.0625rem;
  box-shadow: 0.125rem 0.125rem 0.3125rem #000000;
  border: 0.0625rem solid #000000;
  height: 2.5rem;
  width: 3.125rem;
  border-radius: 0.875rem;
  background: #FF3B3F;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #A9A9A9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #A9A9A9;
}


/*Switch*/

#switchLabelNo,
#switchLabelYes{
  font-size: 1.3rem;
  margin: 5%;
}

#switchLabelYes{
  color: #51b848;
}

#switchContainer{
  display:flex;
  width:20%;
  position:absolute;
  left:66%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 4.6875rem;
  height: 2.65625rem;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 0.12rem solid #F7F7F7;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem grey;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.0rem;
  width: 2.0rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: #EFEFEF;
  -webkit-transition: .4s;
  transition: .4s;
}

#answerArea .slider:before {
  background-color: #EFEFEF;
}

#answerArea .slider {
  background-color: #CAEBF2;
}

#answerArea input:checked+.slider {
  background-color: #FF3B3F;
}

#answerArea input:focus+.slider {
  box-shadow: 0 0 0.0625rem #FF3B3F;
}

input:checked+.slider {
  background-color: #FF3B3F;
}

input:focus+.slider {
  box-shadow: 0 0 0.0625rem #FF3B3F;
}

input:checked+.slider:before {
  -webkit-transform: translateX(1.859375rem);
  -ms-transform: translateX(1.859375rem);
  transform: translateX(1.859375rem);
}

.slider.round {
  border-radius: 2.65625rem;
}

.slider.round:before {
  border-radius: 50%;
}


/* List NOT FIXED */

#listAnswer {
  width: 100%;
  border-style: solid;
  border-color: white;
  font-size: 1.75rem;
  color: #A7A7A7;
}

/* Birthday */

#birthdayAnswer {
  width: 50%;
  border-style: solid;
  border-color: white;
  font-size: 1.75rem;
  color: #A7A7A7;
}

.selectivity-single-result-container {
  top: 0.4rem;
}

.selectivity-single-select {
  height: calc(1.75rem);
}

.selectivity-load-more.highlight, #birthdayAnswer .selectivity-result-item.highlight {
  background-color: #FF3B3F;
}

.selectivity-single-select {
  padding: 0;
  padding-left: 2%;
}

.selectivity-caret{
  right: 0.3125rem;
  top: 0.5rem;
}

input{
  padding: 0.0625rem;
  border-width: 0.125rem;
}

/* Major */

#answermajorcontainer, #majorAnswerContainer {
  width: 100%;
}

#answermajorcontainer span {
  font-size: 1.75rem;
}

#minorAnswerContainer {
  width: 100%;
  margin-left: 10%;
}

#majorAnswer, #minorAnswer {
  width: 100%;
  border-style: solid;
  border-color: white;
  font-size: 1.75rem;
  color: #A7A7A7;
}

#majorAnswer .selectivity-multiple-selected-item, #majorAnswer .selectivity-load-more.highlight, #majorAnswer .selectivity-result-item.highlight, #minorAnswer .selectivity-multiple-selected-item, #minorAnswer .selectivity-load-more.highlight, #minorAnswer .selectivity-result-item.highlight {
  background-color: #FF3B3F;
}


/* Email */

#emailFrequency .selectivity-input {
  width: 90%;
}


/* Consent */

#consentTextAnswer {
  margin: 0%;
  margin-left: 5%;
  width: 50%;
  overflow: hidden;
  height: 20rem;
  border: 0.3rem solid #F7F7F7;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem grey;
  text-align: left;
  padding: 1%;
  position: relative;
}

#consentText {
  margin-left: 5%;
  margin-bottom: 2%;
  margin-top: 5%;
  margin-left: 24%;
  width: 50%;
  overflow: hidden;
  height: 45rem;
  border: 0.3rem solid #F7F7F7;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem grey;
  position: relative;
}

#answerconsentContainer #consentButton {
  bottom: 12%;
}

#consentTextAnswer svg{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#consentText svg{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#consentTextHeader {
  text-align: left;
  color: #FF3B3F;
  margin-left: 5%;
}

#consentDocuments{
  width: 60%;
  text-align: left;
}

#consentOption{
  margin-top: 5%;
}


/* Buttons */

.button {
  width: 10%;
  height: 22%;
  background-color: #FF3B3F;
  border-radius: 10%;
  color: white;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem grey;
  cursor: pointer;
}

.settingsButton {
  width: 10%;
  height: 22%;
  background-color: #FF3B3F;
  border-radius: 10%;
  color: white;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem grey;
  cursor: pointer;
}

.button:active {
  box-shadow: 0 0.3125rem grey;
  transform: translateY(0.250rem);
}

.fillButton, .listButton, .intfillButton, .sliderButton, .saveUserSettingsButton {
  left: 44%;
  height: 4%;
  font-size: 2rem;
  position: absolute;
  padding: 1%;
  margin-top: 2%;
  padding: 1%;
  padding-bottom: 2%;
}

.fillButton{
  margin-top: 10%;
}

.saveUserSettingsButton {
  width: 50%;
  font-size: 2.2rem;
  height: 8%;
  left: 25%;
  margin-top: 2.5%;
  margin-bottom: 5%;
  padding: 2%;
  padding-bottom: 1%;
}

.completeButton {
  background-color: #51b848;
}
