#welcome{
  width: 70%;
  position: absolute;
  top: 25%;
  left: 15%;
  height: 50%;
  color: #a9a9a9;
  text-align: center;
  font-size: 2.5rem;
}

#buttonContainerHome{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 25%;
  height: 50%;
}

.buttonHome {
  width: 40%;
  height: 30%;
  left: 25%;
  background-color: #FF3B3F;
  border-radius: 10%;
  color: white;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem grey;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
  margin: 5%;
  position: absolute;
}

.buttonHome:active {
  box-shadow: 0 0.3125rem grey;
  transform: translateY(0.250rem);
}

.buttonHome p{
  margin-top: 12%;
}

.NoTaking {
  opacity: 0.6;
  cursor: not-allowed;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  color: rgba(255, 255, 255, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(170, 204, 0);
  background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(170, 204, 0);
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(170, 204, 0);
  background-position: auto auto;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 50px 50px;
  background-size: 50px 50px;
  background-color: #686868;

  width: 40%;
  height: 30%;
  left: 25%;
  border-radius: 10%;
  color: white;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem grey;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
  margin: 5%;
  position: absolute;
}
