#Options +FollowSymLinks
php_flag display_errors On
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*)$ index.php/$1 [QSA,NC,L]

AuthType shibboleth
ShibRequestSetting requireSession 1
require valid-user
